/*------------------------------------------------------------------
[Table of contents]

-------------------------------------------------------------------*/

/* General Styles */

html {
  width: 100%;
  margin: 0 auto;
  font-size: 62.5%;
  font-family: "Open Sans";
  background: lightblue;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1280px;
}

h1 a {
  font-size: 50px;
  text-decoration: none;
  color: navy;
  margin-top: 50px;
}

h2 a {
  font-size: 25px;
  color: navy;
}
h1 a img {
  width: 70px;
  position: relative;
  top: 15px;
}

h2,
h3 {
  font-size: 2.5rem;
}

p {
  font-size: 2rem;
}

ul,
li {
  font-size: 2rem;
}

.bottom-pics {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
}

footer {
  text-align: center;
  margin: 0;
  font-size: 30px;
}

footer p:first-of-type {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 30px;
}

footer p:last-of-type {
  margin-top: -30px;
}

footer img {
  width: 75px;
  position: relative;
  top: 40px;
}

h1,
h2 {
  text-align: center;
}
